* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  background-color: black;
}

nav {
  display: flex;
  width: 100vw;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 2rem;
  margin: 0 5rem 0 0;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

header {
  align-content: center;
}

h1 {
  color: white;
  font-size: 8rem;
  top: 50vh;
  text-align: center;
  left: 30vw;
}

.begin {
  padding-top: 50vh;
  background-color: #999;
  background-image: url("./img/front-page.png");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding-bottom: 35vh;
  background-size: cover;
}

main {
  background-color: black;
  color: white;
}

h2 {
  font-size: 6rem;
  text-align: center;
}

.lead {
  height: 100vh;
}

.lead p {
  font-size: 3rem;
}

.lead img {
  width: 40vw;
}

.left {
  display: flex;
  margin: 6rem 5rem 5rem 5rem;
}

.right {
  display: flex;
  margin: 3rem;
}

.lead article {
  width: 50vw;
  margin: 0 3rem 0 0rem;
}

.left article {
  margin-left: 20vw;
}

.right article {
  margin-right: 20vw;
}

footer {
  background-color: #00a8c7;
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 2rem;
}

.j2 {
  display: inline-block;
  position: relative;
  margin: -2rem 0 -2rem 0;
  padding: 3rem;
}

.display_j2{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  margin: 3rem 0 0 -3rem;
  z-index: 1;
  font-size: 2.5rem;
}

.display_j2 ul {
  display: block;
  margin: 0;
  padding: 0;
}

.display_j2 a{
  color: #00a8c7;
}

.j2:hover {
  background-color: white;
}

.j2:hover a {
  color: #00a8c7;
}

.j2:hover .display_j2 {
  display: block;
}

.display_j2 li:hover {
  background-color: #E9E9E9;
}