* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  background-color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

header {
  align-content: center;
}

h1 {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 50%;
  text-align: center;
  left: 30%;
}

header img {
  position: relative;
}

main {
  background-color: black;
  color: white;
}

section {
  position: relative;
  height: 715px;
}

section h2 {
  font-size: 40px;
  margin: auto;
  width: 10%;
  padding: 10px;
}

#HTML-CSS div {
  margin: auto;
  position: absolute;
  padding: 2%;
  left: 2%;
  padding-top: 5%;
}

#HTML-CSS div img {
  width: 45vw;
  background-color: black;
}

#HTML-CSS article {
  margin: auto;
  padding-top: 5%;
  position: absolute;
  right: 0%;
}

section p {
  text-align: left;
  padding: 2%;
  font-size: 1.5vw;
}

#Javascript div {
  margin: auto;
  position: absolute;
  padding: 2%;
  right: 2%;
  padding-top: 5%;
}

#Javascript div img {
  width: 20vw;
  background-color: black;
}

#Javascript article {
  margin: auto;
  padding-top: 8%;
  position: absolute;
  left: 2%;
}

#PHP div {
  margin: auto;
  position: absolute;
  padding: 2%;
  left: 2%;
  padding-top: 5%;
}

#PHP div img {
  width: 35vw;
  background-color: black;
}

#PHP article {
  margin: auto;
  padding-top: 8%;
  position: absolute;
  right: 0%;
}

#SQL div {
  margin: auto;
  position: absolute;
  padding: 2%;
  right: 2%;
  padding-top: 5%;
}

#SQL div img {
  width: 35vw;
  background-color: black;
}

#SQL article {
  margin: auto;
  padding-top: 10%;
  position: absolute;
  left: 2%;
}

footer {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

footer p {
  color: white;
  margin: auto;
  width: 10%;
  padding: 0px;
  font-size: 20px;
}