* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  background-color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

header {
  align-content: center;
}

h1 {
  color: white;
  font-size: 50px;
  top: 50%;
  text-align: center;
  left: 30%;
}

.begin {
  padding-top: 35vh;
  background-color: #999;
  background-image: url("./img/front-page.png");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding-bottom: 35vh;
  background-size: cover;
}

main {
  background-color: black;
  color: white;
}

.lead {
  height: 100vh;
  width: 99vw;
}

h2 {
  margin: 30px;
  font-size: 40px;
  text-align: center;
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20%;
  margin: 30px;
}

.left img {
  width: 90%;
}

.left article {
  font-size: 1.5vw;
  height: 100%;
  width: 50%;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20%;
  margin: 50px;
}

.right img {
  width: 90%;
}

.right article {
  font-size: 1.5vw;
  height: 100%;
  width: 50%;
}

.jvimg {
  width: 80%;
}

footer {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

footer p {
  color: white;
  margin: auto;
  width: 10%;
  padding: 0px;
  font-size: 20px;
}